#tableID{
    color: white;
    
}

.firstLineInTable{
    width: 100vw;
    height: auto;
}

#tableImg{
    width: 200px;
    height: 200px;
}

#totalPriceId{
    font-weight: bold;
    font-size: 30px;
}