
#mainSectionStyle{
    text-align: center;    

}

#categoryInput{
    text-align: center;
    font-size: 30px;
    width: 30%;
    height: 30%;
}

.item{
    width: 400px;
    height: 460px;
    /* border: 2px solid blue; */
    padding: 3% !important;

}

#itemsContainer{
    display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin:5%;
  
}

#designImgInside{
    width: 200px;
    height: 200px;
}

@media screen and (max-device-width:440px){
    #categoryInput{
        width: 100vw;
    }
}
@media screen and (max-device-width:720px){
    #categoryInput{
        width: 100vw;
        
    }
.welcomeHeader{
    font-size: 35px;
}}

@media screen and (max-device-width:1040px){
    .welcomeHeader{
        font-size: 40px;
    }
    #categoryInput{
        width: 100vw;
        
    }
}

#addButton{
    font-size: 20px;
    color: white;
    background-color: black;
    font-family: 'Alfa Slab One', cursive;
font-family: 'Luckiest Guy', cursive;

}

#addButton:hover{
    transition: ease-in-out;
    font-weight: bold;
    font-size: 22px;

}

.insideTextDesign{
    background-color: white ;
    width: auto;
    font-family: 'Alfa Slab One', cursive;
    font-size: 14px;

    
}

#priceStyle{
    font-size: 22px;
}